
<!-- Top Bar -->
<section id="top-bar" class="p-3">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <i class="fas fa-phone"></i> (617)-555-5555
        </div>
        <div class="col-md-4"> Build by:
          <i class="fas fa-envelope-open"><a href="mailto:jkenney0501@gmail.com"> JKenney0501@gmail.com</a> </i> 
        </div>
        <div class="col-md-4">
          <div class="social text-right">
            <a href="https://github.com/jkenney0501">
              <i class="fab fa-github"></i>
            </a>
            <a href="https://www.facebook.com/">
              <i class="fab fa-facebook"></i>
            </a>
            <a href="https://www.linkedin.com/">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://www.instagram.com/">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.pinterest.com/">
              <i class="fab fa-pinterest"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>